@model Volt.ViewModels.ClassViewModel

@{
    ViewData["Title"] = "DetailsElectronicClass";
}

<h1>Details Electronic Class</h1>

<div>
    <h4>ElectronicClass</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.About)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.About)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditElectronicClass" asp-route-id="@Model?.ElectronicClassId">Edit</a> |
    <a href="@Url.Action("Index", "Home")">Back to List</a>
</div>
